@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap");
@import "tailwindcss";

body {
  width: 100%;

  background-color: #ffeed9;
}

header {
  padding-left: 112px;
  padding-top: 80px;
  padding-right: 112px;
}
@media (width < 48rem /* 768px */) {
  header {
    padding-left: 50px;
  }
}
